body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #22b80b;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #1d3b72;
}

main {
    padding: 20px;
}

footer {
    background-color: #22b80b;
    color: white;
    text-align: center;
    padding: 10px 0;
}
